:root {
  --main-color: #62013c;
  --secondary-color-background: #62013b17;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0 auto;
}
.navigation-bar-sections {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  color: black;
}

.section-selected {
  color: black !important;
}
.section-selected:hover {
  color: var(--main-color) !important;
  text-decoration: underline !important;
}

/*First section*/
.main-section {
  padding-top: 180px;
  text-align: center;
  padding-bottom: 60px;
}
.main-section h1 {
  font-size: 60px;
  font-weight: bold;
}
.main-section h2 {
  font-size: 24px;
  font-weight: light;
  padding: top 10px;
  padding-bottom: 30px;
}

.contact-button {
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  padding: 8px 18px;
}

.contact-button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-weight: bold;
}
.contact-button a {
  color: white;
  text-decoration: none;
}

.contact-button a:hover {
  color: white;
}

/*Section Skills*/

.parent {
  height: 100px;
}

.child {
  border-top: 100px solid #ffffff;
  border-left: 49vw solid transparent;
  border-right: 49vw solid transparent;
  bottom: -40px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.titles {
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 40px;
  padding-top: 30px;
}
.section-skills {
  background-color: var(--secondary-color-background);
  text-align: center;
}

.skills-images {
  width: 50px;
  height: 50px;
}
.text-skills {
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
}

.section-grid-skills {
  padding-bottom: 40px;
}

/* Projects section*/
.container-projects {
  padding-top: 60px;
}
.images-projects {
  width: 400px;
  height: 400px;
}
.section-text {
  color: white;
  background-color: var(--main-color);
  width: 50%;
  padding: 30px;
}

.section-text {
  background-color: var(--main-color);
  color: white;
  padding: 20px;
}

.section-text h2 {
  font-size: 25px;
}
.section-text p {
  font-size: 16px;
}

.sections-projects {
  background-color: var(--main-color);
  padding: 10px;
  margin-bottom: 50px;
}
.sections-image {
  margin-top: -60px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.button-code {
  --color: #ffffff;
  position: relative;
  z-index: 1;
  width: 100px;
  height: 25px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.button-code::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 30px;
  background: transparent;
  top: -7px;
  left: -7px;
  z-index: -5;
  border-top: 3px solid var(--color);
  border-left: 3px solid var(--color);
  transition: 0.5s;
}

.button-code::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 30px;
  background: transparent;
  bottom: -7px;
  right: -7px;
  z-index: -5;
  border-right: 3px solid var(--color);
  border-bottom: 3px solid var(--color);
  transition: 0.5s;
}

.button-code:hover::before {
  width: 100%;
  height: 100%;
}

.button-code:hover::after {
  width: 100%;
  height: 100%;
}

.button-code a {
  font-size: 16px;
  color: white;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.button-code a:hover {
  color: white;
  font-weight: bold;
}

.right-button {
  float: right;
}

.text-button {
  margin-left: 15px;
}

/*About*/
.text-about {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 50px;
}
.container-about {
  background-color: var(--secondary-color-background);
}

/*Contact*/
.content-contact-section {
  display: flex;
  justify-content: left;
}
.images-contact {
  width: 28px;
  height: 28px;
  margin-right: 20px;
}

.mail-section {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.mail-section:hover {
  text-decoration: underline;
  color: black;
}
.place-section {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.form-box {
  border: none;
  border-bottom: black solid 1px !important;
  outline: none;
  width: 100%;
}

.submit-button {
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  padding: 8px 18px;
}

.submit-button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-weight: bold;
}
.submit-button {
  color: white;
  text-decoration: none;
}

.submit-button:hover {
  color: white;
}

/*Footer*/

footer {
  background-color: var(--secondary-color-background);
}

.footer-links {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.footer-links:hover {
  text-decoration: underline;
  color: black;
}
.images-footer {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .sections-image {
    margin-top: 0;
  }
}

@media (max-width: 576px) {
  .main-section h1 {
    font-size: 30px;
  }
  .main-section h2 {
    font-size: 18px;
  }
  .titles {
    font-size: 35px;
  }
  .skills-images {
    width: 30px;
    height: 30px;
  }
  .container-projects {
    padding-top: 10px;
  }
  .sections-images-projects {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .section-text {
    padding-top: 10px;
  }
  .section-text h2 {
    font-size: 22px;
    text-align: center;
    padding-bottom: 10px;
  }
  .section-text p {
    font-size: 16px;
    text-align: center;
  }
  .button-code {
    margin: 0 auto;
    margin-top: 50px;
  }
  .right-button {
    float: none;
  }
  .content-contact-section {
    justify-content: center !important;
    margin-bottom: 10px;
  }
  .images-contact {
    margin-right: 5px;
  }
  .form-section {
    padding-top: 20px;
  }
}
