:root {
  --main-color: #62013c;
}

body {
  font-family: "Inter", sans-serif;
}
.navigation-bar {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  color: black;
}

.main-section {
  padding-top: 180px;
  text-align: center;
  padding-bottom: 60px;
}
.main-section h1 {
  font-size: 50px;
  font-weight: bold;
}
.main-section h2 {
  font-size: 24px;
  font-weight: light;
  padding: top 10px;
  padding-bottom: 30px;
}

.contact-button {
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  padding: 8px 18px;
}

.contact-button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-weight: bold;
}
.contact-button a {
  color: white;
  text-decoration: none;
}

.contact-button a:hover {
  color: white;
}
